<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Teacher</title>
</head>
<body>
<div th:if="${errorMessage}" class="error">
    <p th:text="${errorMessage}"></pth:text></p>

    <form action="@{/school/teachers/insert}" th:object="${teacherInsertDTO}" method="POST"></form>

    <label for="firstname">firstname:</label>
    <input type="text" id="firstname" th:field="*{firstname}"
           th:classappend="${#fields.hasErrors('firstname')} ?'error'"/>
    <div th:if="${#fields.hasErrors('firstname')} ?'error'">
        <p th:errors="*{firstname}"></p>
    </div>

    <label for="lastname">lastname:</label>
    <input type="text" id="lastname" th:field="*{lastname}"
           th:classappend="${#fields.hasErrors('lastname')} ?'error'"/>
    <div th:if="${#fields.hasErrors('lastname')} ?'error'">
        <p th:errors="*{lastname}"></p>
    </div>

    <label for="vat">vat:</label>
    <input type="text" id="vat" th:field="*{vat}"
           th:classappend="${#fields.hasErrors('vat')} ?'error'"/>
    <div th:if="${#fields.hasErrors('vat')} ?'error'">
        <p th:errors="*{vat}"></p>
    </div>

    <label for="region">Region</label>
    <select name="" id="region" th:field="*{regionId}">
        <option value="" selected>select region</option>
        <option th:each="region:${regions}" th:value="%{region.id}" th:text="${rigion.name}"></option>
    </select>

    <button type="submit">save teacher

    </button>


</div>

</body>
</html>